<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- basic injection -->
  <bean class="org.sonny.form.HelloForm">
    <property name="message" value="Hello, World"/>
  </bean>
  <!-- factory method create instance -->
  <bean id="serviceLocator" class="org.sonny.service.locator.DefaultServiceLocator">
    <!-- inject any dependencies required by this locator bean -->
  </bean>

  <bean id="clientService"
    factory-bean="serviceLocator"
    factory-method="createClientServiceInstance"/>

  <bean id="accountService"
    factory-bean="serviceLocator"
    factory-method="createAccountServiceInstance"/>
  <!-- construct base dependency injection -->
  <bean id="constructForm" class="org.sonny.form.ConstructForm">
    <constructor-arg name="version" value="1"/>
    <constructor-arg name="name" value="constructDemo"/>
  </bean>
  <!-- inner bean -->
  <bean id="outer" class="org.sonny.form.OutBean">
    <!-- instead of using a reference to a target bean, simply define the target bean inline -->
    <property name="target">
        <bean class="org.sonny.form.PersonForm"> <!-- this is the inner bean -->
            <property name="name" value="Fiona Apple"/>
            <property name="age" value="25"/>
        </bean>
    </property>
  </bean>
</beans>